In [ ]:
#!pip install matplotlib mpmath numpy pandas sympy bokeh

In [1]:
from google.colab import drive

drive.mount('/content/gdrive', force_remount=True)

Mounted at /content/gdrive

In [2]:
import os
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from bokeh.io import output_notebook
output_notebook()

# Get the current working directory
current_path = os.getcwd()
print('Current path:', current_path) # Just to verify

# Change the current working directory to avoid entering the full local path
new_path = '/content/gdrive/MyDrive/ICE-V2-Dataset/Datasets/'
os.chdir(new_path)

# Verify the current working directory has been changed 'Datasets'
updated_path = os.getcwd()
print('Updated path:', updated_path)

# EXAMPLE FOR TEST THE CORRECT MOUNT OF GDRIVE
try:
    # Read the workout data from the CSV file
    df1 = pd.read_csv('data_132heart_01.csv')
    df1.head()
    print("CSV file loaded successfully, you can start working right now")
except Exception as e:
    print(f"An error occurred while loading the CSV file: {e}, please check the correct mount of the shared folder")

Current path: /content
Updated path: /content/gdrive/.shortcut-targets-by-id/1rULnfgTq7FhZTExwDoEWzo58ZSP40sUY/ICE-V2-Dataset/Datasets
CSV file loaded successfully, you can start working right now

*To explore the data set*

In [3]:
import pandas as pd

df = pd.read_csv('data_94food_nutrition_data.csv')

df.info()

# Get dataset size
print("\n This dataset contains",df.shape[0], "rows and", df.shape[1], "columns.")

for column in df.columns:
    # Get value range for the current column
    col_min = df[column].min()
    col_max = df[column].max()

    print(f"{column} range: {col_min} to {col_max}")

print("\n", df.keys())
df.isna().any()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9 entries, 0 to 8
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   food name          9 non-null      object
 1   serving size (g)   9 non-null      int64
 2   calories (kcal)    9 non-null      int64
 3   protein (g)        9 non-null      float64
 4   total fat (g)      9 non-null      float64
 5   saturated fat (g)  9 non-null      float64
 6   trans fat (g)      9 non-null      int64
 7   cholesterol (mg)   9 non-null      float64
 8   carbohydrates (g)  9 non-null      float64
 9   sugar (g)          9 non-null      float64
 10  added sugar (g)    9 non-null      float64
 11  sodium (mg)        9 non-null      int64
 12  food category      9 non-null      object
dtypes: float64(7), int64(4), object(2)
memory usage: 1.0+ KB

 This dataset contains 9 rows and 13 columns.
food name range: Apple to Watermelon
serving size (g) range: 100 to 100
calories (kcal) range: 18 to 105
protein (g) range: 0.3 to 2.6
total fat (g) range: 0.1 to 0.3
saturated fat (g) range: 0.0 to 0.1
trans fat (g) range: 0 to 0
cholesterol (mg) range: 0.0 to 19.5
carbohydrates (g) range: 3.9 to 27.0
sugar (g) range: 0.0 to 15.1
added sugar (g) range: 0.0 to 12.2
sodium (mg) range: 1 to 25
food category range: Fruit to Vegetable

 Index(['food name', 'serving size (g)', 'calories (kcal)', 'protein (g)',
       'total fat (g)', 'saturated fat (g)', 'trans fat (g)',
       'cholesterol (mg)', 'carbohydrates (g)', 'sugar (g)', 'added sugar (g)',
       'sodium (mg)', 'food category'],
      dtype='object')

food name            False
serving size (g)     False
calories (kcal)      False
protein (g)          False
total fat (g)        False
saturated fat (g)    False
trans fat (g)        False
cholesterol (mg)     False
carbohydrates (g)    False
sugar (g)            False
added sugar (g)      False
sodium (mg)          False
food category        False
dtype: bool

---
# Tasks
---

1
# Task DDMH31 (DatasetDescriptionManipulation-H)

## Prompt

Using the data in 'data_94food_nutrition_data.csv', filter out the rows where the calories (kcal) are greater than 30 and show me the maximum carbohydrate values sorted by fruit name. Use a Pandas table to display the results. Share the Python code with me.

## data

data in file


## Model response

Sure, here are the results:

[CODE OUTPUT]

Also, here is the code:

[CODE]

I hope this is helpful!

In [12]:
#```python
# Import the necessary libraries
import pandas as pd

# Load the data into a DataFrame
df = pd.read_csv('data_94food_nutrition_data.csv')

# Filter out rows where calories (kcal) are above 30
filtered_data = df[(df['calories (kcal)'] >= 30)]

# Group by food name and get the maximum value of carbohydrate
max_values = filtered_data.groupby('food name')['carbohydrates (g)'].max().reset_index()

# Sort the results by maximum value of carbohydrate in descending order
sorted_max_values = max_values.sort_values(by='carbohydrates (g)', ascending=False)

# Show the results as a Data Frame table
pd.DataFrame(sorted_max_values)
#```

      food name  carbohydrates (g)
1        Banana               27.0
3        Grapes               18.1
5     Pineapple               13.1
4        Orange               11.4
0         Apple               10.4
2       Carrots                9.5
7    Watermelon                8.1
6  Strawberries                7.6

2
# Task DDMH34 (DatasetDescriptionManipulation-H)

## Prompt

Using the data in 'data_94food_nutrition_data.csv', create a new column to calculate total sugar with 'sugar' and 'added sugar'. Share the Python code with me.

## data

data in file

## dataset

data_132heart_01.csv

## Model response

Sure, here are the results:

[CODE OUTPUT]

Also, here is the code:

[CODE]

I hope this is helpful!

In [24]:
#```python
# Import libraries
import pandas as pd

# Load the data into a DataFrame
df = pd.read_csv('data_94food_nutrition_data.csv')

# Create a new column to calculate total sugar
df['total sugar (g)'] = (df['sugar (g)'] + df['added sugar (g)'])

# Print the results
print(df['total sugar (g)'])
#```

0     0.0
1    24.4
2     9.5
3    20.6
4    15.1
5     5.5
6     6.5
7     3.5
8     4.7
Name: total sugar (g), dtype: float64

3
# Task DDMH35 (DatasetDescriptionManipulation-H)

## Prompt

Using the following data:

food name        serving size (g)        calories (kcal)        protein (g)        total fat (g)        saturated fat (g)        trans fat (g)        cholesterol (mg)        carbohydrates (g)        sugar (g)        added sugar (g)        sodium (mg)        food category
0        Apple        100        95        0.3        0.2        0.0        0        19.5        10.4        0.0        0.0        20        Fruit
1        Banana        100        105        1.3        0.3        0.1        0        0.0        27.0        12.2        12.2        1        Fruit
2        Orange        100        47        1.1        0.1        0.0        0        0.0        11.4        9.5        0.0        22        Fruit
3        Pineapple        100        52        0.9        0.1        0.0        0        0.0        13.1        10.3        10.3        10        Fruit
4        Grapes        100        62        0.9        0.2        0.0        0        0.0        18.1        15.1        0.0        1        Fruit
5        Strawberries        100        33        1.5        0.3        0.0        0        0.0        7.6        5.5        0.0        15        Fruit
6        Watermelon        100        30        2.6        0.1        0.0        0        0.0        8.1        6.5        0.0        14        Fruit
7        Tomatoes        100        18        1.2        0.2        0.1        0        0.0        3.9        3.5        0.0        10        Vegetable
8        Carrots        100        41        0.9        0.2        0.1        0        0.0        9.5        4.7        0.0        25        Vegetable


Create a new column to calculate 'total sugar' with 'sugar' and 'added sugar'. Filter out the fruit rows where the calories (kcal) are greater than 40 and show me the average total sugar values sorted. Share the Python code with me.

## data

data in query

## Model response

Sure, here are the results:

[CODE OUTPUT]

Also, here is the code:

[CODE]

I hope this is helpful!

In [29]:
#```python
# Import libraries
import pandas as pd

# Create a dictionary to store the data
data = {
    'food name': ['Apple', 'Banana', 'Orange', 'Pineapple', 'Grapes',
                  'Strawberries', 'Watermelon', 'Tomatoes', 'Carrots'],
    'serving size (g)': [100, 100, 100, 100, 100, 100, 100, 100, 100],
    'calories (kcal)': [95, 105, 47, 52, 62, 33, 30, 18, 41],
    'protein (g)': [0.3, 1.3, 1.1, 0.9, 0.9, 1.5, 2.6, 1.2, 0.9],
    'total fat (g)': [0.2, 0.3, 0.1, 0.1, 0.2, 0.3, 0.1, 0.2, 0.2],
    'saturated fat (g)': [0, 0.1, 0, 0, 0, 0, 0, 0.1, 0.1],
    'trans fat (g)': [0, 0, 0, 0, 0, 0, 0, 0, 0],
    'cholesterol (mg)': [0, 0, 0, 0, 0, 0, 0, 0, 0],
    'carbohydrates (g)': [19.5, 27, 11.4, 13.1, 18.1, 7.6, 8.1, 3.9, 9.5],
    'sugar (g)': [10.4, 12.2, 9.5, 10.3, 15.1, 5.5, 6.5, 3.5, 4.7],
    'added sugar (g)': [0, 12.2, 0, 10.3, 0, 0, 0, 0, 0],
    'sodium (mg)': [20, 1, 22, 10, 1, 15, 14, 10, 25],
    'food category': ['Fruit', 'Fruit', 'Fruit', 'Fruit', 'Fruit', 'Fruit',
                      'Fruit', 'Vegetable', 'Vegetable']
}

# Load the data into a DataFrame
df = pd.DataFrame(data)

# Create a new column to calculate total sugar (g)
df['total sugar (g)'] = (df['sugar (g)'] + df['added sugar (g)'])

# Filter out rows where calories (kcal) are above 40
filtered_data = df[(df['calories (kcal)'] >= 40)]

# Group by food name and get the average value of total sugar (g)
avg_values = filtered_data.groupby('food name')['total sugar (g)'].mean()

# Reset the index of the DataFrame
avg_values = avg_values.reset_index()

# Sort the results by the average value of carbohydrate in descending order
sorted_avg_values = avg_values.sort_values(by='total sugar (g)', ascending=False)

# Show the results as a Data Frame table
pd.DataFrame(sorted_avg_values)
#```

   food name  total sugar (g)
1     Banana             24.4
5  Pineapple             20.6
3     Grapes             15.1
0      Apple             10.4
4     Orange              9.5
2    Carrots              4.7

4
# Task DDMH36 (DatasetDescriptionManipulation-H)

## Prompt

Using the following data:

food name serving size (g) calories (kcal) protein (g) total fat (g) saturated fat (g) trans fat (g) cholesterol (mg) carbohydrates (g) sugar (g) added sugar (g) sodium (mg) food category 0 Apple 100 95 0.3 0.2 0.0 0 19.5 10.4 0.0 0.0 20 Fruit 1 Banana 100 105 1.3 0.3 0.1 0 0.0 27.0 12.2 12.2 1 Fruit 2 Orange 100 47 1.1 0.1 0.0 0 0.0 11.4 9.5 0.0 22 Fruit 3 Pineapple 100 52 0.9 0.1 0.0 0 0.0 13.1 10.3 10.3 10 Fruit 4 Grapes 100 62 0.9 0.2 0.0 0 0.0 18.1 15.1 0.0 1 Fruit 5 Strawberries 100 33 1.5 0.3 0.0 0 0.0 7.6 5.5 0.0 15 Fruit 6 Watermelon 100 30 2.6 0.1 0.0 0 0.0 8.1 6.5 0.0 14 Fruit 7 Tomatoes 100 18 1.2 0.2 0.1 0 0.0 3.9 3.5 0.0 10 Vegetable 8 Carrots 100 41 0.9 0.2 0.1 0 0.0 9.5 4.7 0.0 25 Vegetable

Create a correlation matrix table with Pandas without 'nan' values. Filter out rows with calories (kcal) greater than 40. Share the Python code.

## data

data in file

## dataset

data_132heart_01.csv

## Model response

Sure, here are the results as a table:

[CODE OUTPUT]

Also, here is the code:

[CODE]

I hope this is helpful!

In [34]:
#```python
# Import the necessary libraries
import pandas as pd

# Create a dictionary to store the data
data = {
    'food name': ['Apple', 'Banana', 'Orange', 'Pineapple', 'Grapes',
                  'Strawberries', 'Watermelon', 'Tomatoes', 'Carrots'],
    'serving size (g)': [100, 100, 100, 100, 100, 100, 100, 100, 100],
    'calories (kcal)': [95, 105, 47, 52, 62, 33, 30, 18, 41],
    'protein (g)': [0.3, 1.3, 1.1, 0.9, 0.9, 1.5, 2.6, 1.2, 0.9],
    'total fat (g)': [0.2, 0.3, 0.1, 0.1, 0.2, 0.3, 0.1, 0.2, 0.2],
    'saturated fat (g)': [0, 0.1, 0, 0, 0, 0, 0, 0.1, 0.1],
    'trans fat (g)': [0, 0, 0, 0, 0, 0, 0, 0, 0],
    'cholesterol (mg)': [0, 0, 0, 0, 0, 0, 0, 0, 0],
    'carbohydrates (g)': [19.5, 27, 11.4, 13.1, 18.1, 7.6, 8.1, 3.9, 9.5],
    'sugar (g)': [10.4, 12.2, 9.5, 10.3, 15.1, 5.5, 6.5, 3.5, 4.7],
    'added sugar (g)': [0, 12.2, 0, 10.3, 0, 0, 0, 0, 0],
    'sodium (mg)': [20, 1, 22, 10, 1, 15, 14, 10, 25],
    'food category': ['Fruit', 'Fruit', 'Fruit', 'Fruit', 'Fruit', 'Fruit',
                      'Fruit', 'Vegetable', 'Vegetable']
}

# Load the data into a DataFrame
df = pd.DataFrame(data)

# Filter out rows with calories (kcal) greater than 40
filtered_data = df[(df['calories (kcal)'] >= 40)]

# Calculate the correlation matrix for the filtered data
correlation_matrix = filtered_data.corr()

# Filter out 'nan' values in the correlation matrix
correlation_matrix = correlation_matrix.dropna(axis=0, how='all')
correlation_matrix = correlation_matrix.dropna(axis=1, how='all')

# Show the correlation matrix table
correlation_matrix
#```

<ipython-input-34-47592c49a077>:31: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  correlation_matrix = filtered_data.corr()

,calories (kcal),protein (g),total fat (g),saturated fat (g),carbohydrates (g),sugar (g),added sugar (g),sodium (mg)
calories (kcal),1.000000,-0.125526,0.727470,0.174322,0.941296,0.465728,0.397016,-0.454246
protein (g),-0.125526,1.000000,0.158777,0.462910,0.127757,0.094238,0.499337,-0.402702
total fat (g),0.727470,0.158777,1.000000,0.685994,0.779252,0.214652,0.257020,-0.443434
saturated fat (g),0.174322,0.462910,0.685994,1.000000,0.217990,-0.433546,0.311671,-0.012082
carbohydrates (g),0.941296,0.127757,0.779252,0.217990,1.000000,0.644512,0.501726,-0.707031
sugar (g),0.465728,0.094238,0.214652,-0.433546,0.644512,1.000000,0.216798,-0.842682
added sugar (g),0.397016,0.499337,0.257020,0.311671,0.501726,0.216798,1.000000,-0.580245
sodium (mg),-0.454246,-0.402702,-0.443434,-0.012082,-0.707031,-0.842682,-0.580245,1.000000